h1  {
    font-size: 30px;
    text-align: center;
    color: #de7471
    }

h2  {
    font-size: 25px;
    color: #de7471;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 50px;
    }

    
p   {
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: #fafafa;
    margin-top: 20px;
    margin-bottom: 12px;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 50px;
    }

img {
    height: auto;
    padding-left: 50px;
    }    
body{
    background-color: #121212;
    }